/*** Global ***/

html, body{
    height: 100%;
    background-color: #373B44;
}

.content {
    margin: 2em auto;
    max-width: 40em;
    width: 100%;
    padding: 0 1em;
    font-family: 'HelveticaNeue';
    color: white;
    font-weight: 500;
}

.full {
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/*** Animation ***/

span {
  border-right: .03em solid;
  margin-left: 5px;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/*** Sections ***/

#one {
  background-color: #FE4B74;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'HelveticaNeue';
  color: white;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#two {
  /*background-image: url("../images/2.jpg");*/
  background-color: #FE4B74;
}

#three {
  background-image: url("../images/3.jpg");
}

#four {
  background-image: url("../images/4.jpg");
}

#five {
  background-color: #373B44;
  height: 60%;
}

/*** Profile ***/

.container {
  width: 400px;
  margin: 120px auto 120px;
  background-color: #FE4B74;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
  color: white;
}

img {
  border-radius: 10%;
  margin-top: 30px;
  width: auto;
}
